<center>
  <p></p>
  <div class="container" style="padding: 160px; background:#29b6f6">
  <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 100px 55px 0px 55px; border: 2px solid #EEE;">
    <div class="row">

  <img class="responsive-img" style="width: 220px;" align="center" src="https://pbs.twimg.com/profile_images/809303390618460161/_qfYH1A4_400x400.jpg" />
   <h2 class="ui header" style="color:#424242">Opciones como administrador: </h2>
    <nav class=" light-blue darken-2" style="height:150" align="center">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="idgenerator">Crear ID de cliente nuevo</a></li>
          <li><a href="lista-sistemas">Ver registros de sistemas de CCTV</a></li>
          <li><a href="lista-preguntas">Foro</a></li>
          <li><a {{action 'cerrarsesion'}}>Cerrar Sessión</a></li>
        </ul>
      </div>
    </nav>

    </div>
  </div>
</div>
</center>

  
{{outlet}}
