<h3 class="ui right floated header">
  <img class="responsive-img" style="width: 220px;" align="center" src="https://pbs.twimg.com/profile_images/809303390618460161/_qfYH1A4_400x400.jpg" />
   <h2 class="ui header" style="color:#424242">Para mejorar nuestros servicios con usted como nuestro cliente, ponemos a su disposición el siguiente menú con información en relación a su sistema de videovigilancia que le será útil.</h2>
    <nav class=" light-blue darken-2" style="height:150" align="center">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Ver datos de CCTV</a></li>
          <li><a href="citas">Crear cita</a></li>
          <li><a href="lista-preguntas">Foro</a></li>
          <li><a {{action 'cerrarsesion'}}>Cerrar Sessión</a></li>
        </ul>
      </div>
    </nav>
  </h3>
{{outlet}}